:root{
    --color-fondo: #eee3c8;
    --fuente-principal: 'Lora', serif;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    background: var(--color-fondo);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.news{
    max-width: 600px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fuente-principal);
    margin-top: 40px;
}

.news h1{
    font-size: 5em;
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.news p:first-of-type{
    margin: 30px 0 20px 0;
}

.news img{
    max-width: 100%;
    max-height: 400px;
}

.news p:last-child{
    width: 450px;
    align-self: flex-start;
    padding-top: 20px;
    line-height: 1.4em;
}

.subtitle{
    letter-spacing: 0.2em;
}